@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Lista de Usuarios";
}
<div>
    <h2>Lista de Usuários</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Data de Nascimento</th>
            <th>Operações</th>
        </tr>
    </thead>
    @foreach (Usuario ur in Model)
    {
        <tr>
            <td>@ur.Id</td>
            <td>@ur.Nome</td>
            <td>@ur.Login</td>
            <td>@ur.Senha</td>
            <td>@ur.DataNascimento.ToShortDateString()</td>
            <td>
                <a href="/Usuario/RemoverUsuario?Id=@ur.Id" onclick="return confirm('Deseja remover?');">Remover</a>
                <a href="/Usuario/EditarUsuario?Id=@ur.Id">Alterar</a>
            </td>
        </tr>
    }
    <tbody>


    </tbody>

</table>
<p>
    @ViewBag.Mensagem
</p>